In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df_orig = pd.read_excel('HCP_Data_KDAG_Hackathon.xlsx')
df = df_orig.drop(['Time_Period'], axis=1)

In [ ]:
df

,Physician_ID,Brand_Rx,Market_Rx,Sales_Rep_Calls,Samples_Dropped,Physician_Segment,Emails_Delivered,Speaker_Programs_Attended,Vouchers_Dropped,Specialty
0,axt00001,0.0,2.80567,1,0,3-Low,0,0,0,Dermatologist
1,axt00001,0.0,20.57312,1,0,3-Low,0,0,0,Dermatologist
2,axt00001,0.0,6.16010,1,0,3-Low,0,0,0,Dermatologist
3,axt00001,0.0,8.95501,1,5,3-Low,0,0,0,Dermatologist
4,axt00001,0.0,9.13793,1,0,3-Low,0,0,0,Dermatologist
...,...,...,...,...,...,...,...,...,...,...
569995,axt10000,0.0,2.45597,0,0,3-Low,1,0,0,Dermatologist
569996,axt10000,0.0,2.38065,0,0,3-Low,0,0,0,Dermatologist
569997,axt10000,0.0,7.42171,0,0,3-Low,1,0,0,Dermatologist
569998,axt10000,0.0,5.39345,0,0,3-Low,1,0,0,Dermatologist
569999,axt10000,0.0,0.00000,0,0,3-Low,0,0,0,Dermatologist

In [ ]:
df.isnull().sum()

Physician_ID                 0
Brand_Rx                     0
Market_Rx                    0
Sales_Rep_Calls              0
Samples_Dropped              0
Physician_Segment            0
Emails_Delivered             0
Speaker_Programs_Attended    0
Vouchers_Dropped             0
Specialty                    0
dtype: int64

In [ ]:
df['Physician_Segment'].unique()

array(['3-Low', '1-High', '2-Medium'], dtype=object)

In [ ]:
df['Physician_Segment'].replace({'1-High':3, '2-Medium':2, '3-Low':1}, inplace= True)

In [ ]:
from sklearn.preprocessing import OneHotEncoder
encoder1hot = OneHotEncoder(sparse=False)

In [ ]:
specialty_encoded = encoder1hot.fit_transform(df[['Specialty']])

In [ ]:
specialty_encoded = pd.DataFrame(specialty_encoded)

In [ ]:
encoder1hot.feature_names_in_

array(['Specialty'], dtype=object)

In [ ]:
specialty_encoded.columns = encoder1hot.get_feature_names_out()

In [ ]:
specialty_encoded

,Specialty_Dermatologist,Specialty_General Physician,Specialty_Nurse Practitioner
0,1.0,0.0,0.0
1,1.0,0.0,0.0
2,1.0,0.0,0.0
3,1.0,0.0,0.0
4,1.0,0.0,0.0
...,...,...,...
569995,1.0,0.0,0.0
569996,1.0,0.0,0.0
569997,1.0,0.0,0.0
569998,1.0,0.0,0.0
569999,1.0,0.0,0.0

In [ ]:
df.drop(['Specialty'], axis=1, inplace=True)

In [ ]:
df[specialty_encoded.columns] = specialty_encoded

In [ ]:
df

,Physician_ID,Brand_Rx,Market_Rx,Sales_Rep_Calls,Samples_Dropped,Physician_Segment,Emails_Delivered,Speaker_Programs_Attended,Vouchers_Dropped,Specialty_Dermatologist,Specialty_General Physician,Specialty_Nurse Practitioner
0,axt00001,0.0,2.80567,1,0,1,0,0,0,1.0,0.0,0.0
1,axt00001,0.0,20.57312,1,0,1,0,0,0,1.0,0.0,0.0
2,axt00001,0.0,6.16010,1,0,1,0,0,0,1.0,0.0,0.0
3,axt00001,0.0,8.95501,1,5,1,0,0,0,1.0,0.0,0.0
4,axt00001,0.0,9.13793,1,0,1,0,0,0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
569995,axt10000,0.0,2.45597,0,0,1,1,0,0,1.0,0.0,0.0
569996,axt10000,0.0,2.38065,0,0,1,0,0,0,1.0,0.0,0.0
569997,axt10000,0.0,7.42171,0,0,1,1,0,0,1.0,0.0,0.0
569998,axt10000,0.0,5.39345,0,0,1,1,0,0,1.0,0.0,0.0
569999,axt10000,0.0,0.00000,0,0,1,0,0,0,1.0,0.0,0.0

In [ ]:
df.groupby('Physician_ID').mean()

,Brand_Rx,Market_Rx,Sales_Rep_Calls,Samples_Dropped,Physician_Segment,Emails_Delivered,Speaker_Programs_Attended,Vouchers_Dropped,Specialty_Dermatologist,Specialty_General Physician,Specialty_Nurse Practitioner
Physician_ID,,,,,,,,,,,
axt00001,0.629316,11.473511,0.649123,0.614035,1.0,0.491228,0.000000,0.000000,1.0,0.0,0.0
axt00002,0.000000,6.031829,0.210526,0.035088,1.0,0.000000,0.000000,0.000000,1.0,0.0,0.0
axt00003,0.515877,6.388089,0.192982,0.894737,1.0,0.456140,0.000000,0.000000,1.0,0.0,0.0
axt00004,0.035228,1.160853,0.210526,0.000000,1.0,0.000000,0.000000,0.000000,1.0,0.0,0.0
axt00005,0.650263,5.774958,0.754386,0.929825,3.0,0.000000,0.000000,0.000000,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
axt09996,0.000000,8.942693,0.157895,0.000000,1.0,0.000000,0.000000,0.070175,1.0,0.0,0.0
axt09997,0.054632,0.325632,0.035088,0.000000,2.0,0.000000,0.000000,0.140351,0.0,0.0,1.0
axt09998,0.000000,7.835876,0.175439,0.052632,1.0,0.315789,0.000000,0.000000,1.0,0.0,0.0
axt09999,0.887281,5.282216,0.543860,0.157895,3.0,0.280702,0.035088,0.087719,1.0,0.0,0.0
axt10000,0.382298,4.364973,0.000000,0.000000,1.0,0.596491,0.000000,0.000000,1.0,0.0,0.0

In [ ]:
df.isnull().sum()

Physician_ID                    0
Brand_Rx                        0
Market_Rx                       0
Sales_Rep_Calls                 0
Samples_Dropped                 0
Physician_Segment               0
Emails_Delivered                0
Speaker_Programs_Attended       0
Vouchers_Dropped                0
Specialty_Dermatologist         0
Specialty_General Physician     0
Specialty_Nurse Practitioner    0
dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split
train_set, test_set = train_test_split(df, test_size=0.2)

In [ ]:
# from sklearn.preprocessing import StandardScaler
# scaler = StandardScaler()
# scale_cols = ['Market_Rx', 'Sales_Rep_Calls', 'Samples_Dropped', 'Emails_Delivered', 'Speaker_Programs_Attended', 'Vouchers_Dropped']
# train_set_scaled = scaler.fit_transform(train_set)

In [ ]:
train_set.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 456000 entries, 367913 to 173309
Data columns (total 12 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Physician_ID                  456000 non-null  object
 1   Brand_Rx                      456000 non-null  float64
 2   Market_Rx                     456000 non-null  float64
 3   Sales_Rep_Calls               456000 non-null  int64
 4   Samples_Dropped               456000 non-null  int64
 5   Physician_Segment             456000 non-null  int64
 6   Emails_Delivered              456000 non-null  int64
 7   Speaker_Programs_Attended     456000 non-null  int64
 8   Vouchers_Dropped              456000 non-null  int64
 9   Specialty_Dermatologist       456000 non-null  float64
 10  Specialty_General Physician   456000 non-null  float64
 11  Specialty_Nurse Practitioner  456000 non-null  float64
dtypes: float64(5), int64(6), object(1)
memory usage: 45.2+ MB

In [ ]:
X_train = train_set.drop(['Brand_Rx', 'Physician_ID'], axis=1)

In [ ]:
X = df.drop(['Brand_Rx', 'Physician_ID'], axis=1)

In [ ]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 456000 entries, 367913 to 173309
Data columns (total 10 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Market_Rx                     456000 non-null  float64
 1   Sales_Rep_Calls               456000 non-null  int64
 2   Samples_Dropped               456000 non-null  int64
 3   Physician_Segment             456000 non-null  int64
 4   Emails_Delivered              456000 non-null  int64
 5   Speaker_Programs_Attended     456000 non-null  int64
 6   Vouchers_Dropped              456000 non-null  int64
 7   Specialty_Dermatologist       456000 non-null  float64
 8   Specialty_General Physician   456000 non-null  float64
 9   Specialty_Nurse Practitioner  456000 non-null  float64
dtypes: float64(4), int64(6)
memory usage: 38.3 MB

In [ ]:
y_train = train_set['Brand_Rx']

In [ ]:
y = df['Brand_Rx']

In [ ]:
from sklearn.ensemble import GradientBoostingRegressor
XGBoost = GradientBoostingRegressor()

In [ ]:
XGBoost.fit(X_train, y_train)

GradientBoostingRegressor()

In [ ]:
# from sklearn.model_selection import cross_val_score
# XGB_rmses = -cross_val_score(XGBoost, X_train, y_train,
#                                 scoring="neg_root_mean_squared_error", cv=10)

In [ ]:
# pd.Series(XGB_rmses).describe()

In [ ]:
# y_train.describe()

In [ ]:
X_train.columns

Index(['Market_Rx', 'Sales_Rep_Calls', 'Samples_Dropped', 'Physician_Segment',
       'Emails_Delivered', 'Speaker_Programs_Attended', 'Vouchers_Dropped',
       'Specialty_Dermatologist', 'Specialty_General Physician',
       'Specialty_Nurse Practitioner'],
      dtype='object')

# one HCP at a time

In [ ]:
final_df = df.groupby('Physician_ID').mean()


calls = 1
emails = 9
samples = 159

options = []

for i in range(1,calls+1):
  temp=[i,0,0]
  options.append(temp)
for i in range(1,emails+1):
  temp=[0,i,0]
  options.append(temp)
for i in range(1,samples+1):
  temp=[0,0,i]
  options.append(temp)

n = len(options)

In [ ]:
def predict_score(X, model):
    prediction_brandRx = model.predict(X)
    return prediction_brandRx # it is a 10000*1 vector

data_cols = final_df.columns

In [ ]:
data_cols

Index(['Brand_Rx', 'Market_Rx', 'Sales_Rep_Calls', 'Samples_Dropped',
       'Physician_Segment', 'Emails_Delivered', 'Speaker_Programs_Attended',
       'Vouchers_Dropped', 'Specialty_Dermatologist',
       'Specialty_General Physician', 'Specialty_Nurse Practitioner'],
      dtype='object')

In [ ]:
all_scores = np.zeros((10000,n))

for i in range(10000):
  for j in range(n):
    predictor_vals = options[j]
    data_row = final_df.iloc[i]
    # print("1")
    # print(data_row)
    data_row = pd.DataFrame(data_row).T
    data_row.reset_index(inplace=True)
    data_row.drop(['Brand_Rx', 'index'], axis=1, inplace=True)
    # print("11")
    # print(type(data_row))
    # print(data_row)
    data_row['Sales_Rep_Calls'] = predictor_vals[0]
    data_row['Emails_Delivered'] = predictor_vals[1]
    data_row['Samples_Dropped'] = predictor_vals[2]
    # print("2")
    # print(type(data_row))
    # print(data_row)
    # # data_row = pd.DataFrame(data_row.values).T
    # # data_row = data_row.reset_index()
    # data_row = pd.DataFrame(data_row.values, columns=data_cols)
    # data_row.drop(['Brand_Rx'], axis=1, inplace=True)
    # print("3")
    # print(type(data_row))
    # print(data_row)
    all_scores[i][j] = predict_score(data_row,XGBoost)

In [ ]:
pd.DataFrame(all_scores).to_csv('/content/scores.csv')

In [ ]:
df_hcp_sum = df.groupby('Physician_ID').sum()

In [ ]:
df_hcp_sum

,Brand_Rx,Market_Rx,Sales_Rep_Calls,Samples_Dropped,Physician_Segment,Emails_Delivered,Speaker_Programs_Attended,Vouchers_Dropped,Specialty_Dermatologist,Specialty_General Physician,Specialty_Nurse Practitioner
Physician_ID,,,,,,,,,,,
axt00001,35.871,653.99011,37,35,57,28,0,0,57.0,0.0,0.0
axt00002,0.000,343.81428,12,2,57,0,0,0,57.0,0.0,0.0
axt00003,29.405,364.12109,11,51,57,26,0,0,57.0,0.0,0.0
axt00004,2.008,66.16862,12,0,57,0,0,0,57.0,0.0,0.0
axt00005,37.065,329.17261,43,53,171,0,0,0,57.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
axt09996,0.000,509.73348,9,0,57,0,0,4,57.0,0.0,0.0
axt09997,3.114,18.56100,2,0,114,0,0,8,0.0,0.0,57.0
axt09998,0.000,446.64491,10,3,57,18,0,0,57.0,0.0,0.0
axt09999,50.575,301.08632,31,9,171,16,2,5,57.0,0.0,0.0
axt10000,21.791,248.80348,0,0,57,34,0,0,57.0,0.0,0.0

In [ ]:
(df_hcp_sum['Physician_Segment']/57).unique()

array([1., 3., 2.])

# Constraints, Generation of Final Answer

In [ ]:
all_scores = pd.read_csv('scores3.csv')

In [ ]:
all_scores.drop(['Unnamed: 0'], axis=1, inplace=True)

In [ ]:
all_scores

,0,1,2,3,4,5,6,7,8,9,...,159,160,161,162,163,164,165,166,167,168
0,0.309043,0.263443,0.142546,0.129171,0.129439,0.105333,0.496231,0.541170,0.541170,0.541170,...,0.154413,0.154413,0.154413,0.154413,0.154413,0.154413,0.154413,0.154413,0.154413,0.154413
1,0.204988,0.215879,0.167641,0.158965,0.137796,0.089961,0.075495,0.075495,0.075495,0.075495,...,0.283343,0.283343,0.283343,0.283343,0.283343,0.283343,0.283343,0.283343,0.283343,0.283343
2,0.087440,0.254607,0.184287,0.215315,0.200329,0.152494,0.137666,0.137666,0.137666,0.137666,...,0.633659,0.633659,0.633659,0.633659,0.633659,0.633659,0.633659,0.633659,0.633659,0.633659
3,0.000239,0.000583,0.000234,0.000234,0.000234,0.000234,0.000234,0.000287,0.000287,0.000287,...,-0.020850,-0.020850,-0.020850,-0.020850,-0.020850,-0.020850,-0.020850,-0.020850,-0.020850,-0.020850
4,0.650414,0.651920,0.630383,0.654256,0.654256,0.654256,0.686866,0.686866,0.686866,0.686866,...,1.124934,1.124934,1.124934,1.124934,1.124934,1.124934,1.124934,1.124934,1.124934,1.124934
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0.278343,0.174495,0.381337,0.227339,0.212197,0.212197,0.212197,0.257136,0.257136,0.257136,...,-0.002170,-0.002170,-0.002170,-0.002170,-0.002170,-0.002170,-0.002170,-0.002170,-0.002170,-0.002170
9996,0.000309,0.001073,0.000293,0.000293,0.000293,0.000258,0.000258,0.000311,0.000311,0.000311,...,-0.011360,-0.011360,-0.011360,-0.011360,-0.011360,-0.011360,-0.011360,-0.011360,-0.011360,-0.011360
9997,0.333169,0.303085,0.306345,0.531434,0.369612,0.418135,0.442330,0.480723,0.480723,0.480723,...,0.108367,0.108367,0.108367,0.108367,0.108367,0.108367,0.108367,0.108367,0.108367,0.108367
9998,0.966577,0.999024,1.023485,1.256863,1.482803,1.330288,1.330288,1.330288,1.330288,1.330288,...,1.397559,1.397559,1.397559,1.397559,1.397559,1.397559,1.397559,1.397559,1.397559,1.397559
9999,0.170172,0.298629,0.351534,0.283074,0.279122,0.244456,0.244456,0.244456,0.244456,0.244456,...,0.751673,0.751673,0.751673,0.751673,0.751673,0.751673,0.751673,0.751673,0.751673,0.751673

In [ ]:
(-all_scores.iloc[0]).argsort()

0       7
1       8
2       9
3       6
4      27
       ..
164    33
165    34
166     4
167     3
168     5
Name: 0, Length: 169, dtype: int64

In [ ]:
all_scores.iloc[2, 0]

0.0874404609203338

In [ ]:
df_hcp_sum.iloc[0]

Brand_Rx                      35.87100
Market_Rx                    653.99011
Sales_Rep_Calls               37.00000
Samples_Dropped               35.00000
Emails_Delivered              28.00000
Speaker_Programs_Attended      0.00000
Vouchers_Dropped               0.00000
Name: axt00001, dtype: float64

In [ ]:
answer = np.zeros(10000)
tot_samples = 0

# 0 - calls-1 : calls 0
# calls - calls+emails-1 : emails 2
# calls+emails - end : samples 1


def possible(idx, id):
  calls_, emails_, samples_ = options[idx]
  curr = df_hcp_sum.iloc[id]
  seg = curr['Physician_Segment']/57 # number of weeks, since it is the sum
  rec_calls = curr['Sales_Rep_Calls']
  if tot_samples+samples_ > 2500:
    return False
  if seg == 3 and calls_+rec_calls > 48:
    return False
  if seg == 2 and calls_+rec_calls > 24:
    return False
  if seg == 1 and calls_+rec_calls > 12:
    return False
  return True

brand_Rx = np.zeros(10000)
for i in range(10000):
  flag = 1
  sorted_idx = (-all_scores.iloc[i]).argsort()
  j = 0 # iterator over sorted_idx which stores the indices of the sorted list
  idx = sorted_idx[j]
  while(not possible(idx, i)):
    j+=1
    if j >= n:
      answer[i] = 2
      brand_Rx[i] = all_scores.iloc[i, 1:10].max()
      flag = 0
      break
    idx = sorted_idx[j]
  calls_, emails_, samples_ = options[idx]
  if flag:
    continue
  brand_Rx[i] = all_scores.iloc[i,idx] 
  if calls_:
    answer[i] = 0
  elif emails_:
    answer[i] = 2
  elif samples_:
    answer[i] = 1

In [ ]:
pd.DataFrame(answer).to_csv('/content/answer.csv')

In [ ]:
pd.DataFrame(brand_Rx).to_csv('/content/trx.csv')

In [ ]:
all_scores[0].argmax()

61

In [ ]:
(-all_scores[0]).argsort()

array([ 66,  65,  64,  63,  61,  62,  58,  49,  50,  51,  52,  53,  54,
        55,  56,  57,  47,  48, 120, 117, 118, 119,  84, 116, 114,  95,
        96,  97,  98,  99, 100, 101, 102, 103, 104, 105, 106, 107, 108,
       109, 110, 111, 112, 113, 115,  94, 121, 123, 148, 149, 150, 151,
       152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164,
       165, 166, 147, 146, 145, 144, 124, 125, 126, 127, 128, 129, 130,
       131, 132, 122, 133, 135, 136, 137, 138, 139, 140, 141, 142, 143,
       134,  93, 168,  91,  67,  68,  69,  70,  71,  72,  74,  75,  76,
        77,  78,  73,  80,  79,  89,  88,  87,  86,  90,  92, 167,  83,
        82,  81,  85,  40,  41,  42,  43,  45,  46,  44,  33,  32,  34,
        35,  36,  38,  39,  37,  31,  30,  29,  28,  25,  26,  27,  24,
        23,  22,  60,  59,  21,  20,  19,  14,  15,  17,  18,  16,  12,
        11,  13,   0,  10,   1,   9,   8,   7,   6,   5,   4,   3,   2])

In [ ]:
all_scores[0]

array([0.43528705, 0.38420824, 0.37193017, 0.37193017, 0.37193017,
       0.37193017, 0.37193017, 0.37193017, 0.37193017, 0.37193017,
       0.42836512, 0.50900529, 0.50900529, 0.50462438, 0.54404488,
       0.54404488, 0.54404488, 0.54404488, 0.54404488, 0.57180153,
       0.59358534, 0.59358534, 0.65835352, 0.65835352, 0.65835352,
       0.67259116, 0.67259116, 0.67259116, 0.67424672, 0.67424672,
       0.67424672, 0.67424672, 0.69801063, 0.69801063, 0.69801063,
       0.69801063, 0.69801063, 0.69801063, 0.69801063, 0.69801063,
       0.77131305, 0.77131305, 0.77131305, 0.77131305, 0.77131305,
       0.77131305, 0.77131305, 0.83361626, 0.83361626, 0.83912223,
       0.83912223, 0.83912223, 0.83912223, 0.83912223, 0.83912223,
       0.83912223, 0.83912223, 0.83912223, 0.83912223, 0.64813706,
       0.64813706, 0.992346  , 0.992346  , 0.992346  , 0.992346  ,
       0.992346  , 0.992346  , 0.82089941, 0.82089941, 0.82089941,
       0.82089941, 0.82089941, 0.82089941, 0.82089941, 0.82089941,
       0.82089941, 0.82089941, 0.82089941, 0.82089941, 0.82089941,
       0.82089941, 0.82089941, 0.82089941, 0.82089941, 0.82089941,
       0.82089941, 0.82089941, 0.82089941, 0.82089941, 0.82089941,
       0.82089941, 0.82089941, 0.82089941, 0.82089941, 0.82089941,
       0.82089941, 0.82089941, 0.82089941, 0.82089941, 0.82089941,
       0.82089941, 0.82089941, 0.82089941, 0.82089941, 0.82089941,
       0.82089941, 0.82089941, 0.82089941, 0.82089941, 0.82089941,
       0.82089941, 0.82089941, 0.82089941, 0.82089941, 0.82089941,
       0.82089941, 0.82089941, 0.82089941, 0.82089941, 0.82089941,
       0.82089941, 0.82089941, 0.82089941, 0.82089941, 0.82089941,
       0.82089941, 0.82089941, 0.82089941, 0.82089941, 0.82089941,
       0.82089941, 0.82089941, 0.82089941, 0.82089941, 0.82089941,
       0.82089941, 0.82089941, 0.82089941, 0.82089941, 0.82089941,
       0.82089941, 0.82089941, 0.82089941, 0.82089941, 0.82089941,
       0.82089941, 0.82089941, 0.82089941, 0.82089941, 0.82089941,
       0.82089941, 0.82089941, 0.82089941, 0.82089941, 0.82089941,
       0.82089941, 0.82089941, 0.82089941, 0.82089941, 0.82089941,
       0.82089941, 0.82089941, 0.82089941, 0.82089941, 0.82089941,
       0.82089941, 0.82089941, 0.82089941, 0.82089941])